@use '../colors' as *;

.p-menubar-end {
  display: flex;
  flex: 1;
  & > div {
    width: 100%;
    justify-content: space-between;
  }
}

.p-menubar-submenu,
.p-menu-list,
.p-menu-end {
  background-color: #000 !important;
  z-index: 2;
}
