<<<<<<< Updated upstream
$MAIN_BACKGROUND: #23343C;
$MAIN_TEXT: #FFFFFF;
$MAIN_BORDER: #475E69;
$SUBTITLE: #96a7af;
=======
$MAIN_BACKGROUND: #96baca;
$MAIN_TEXT: #ffffff;
$MAIN_BORDER: #543994;
$SUBTITLE: #96a7af;
>>>>>>> Stashed changes
