@use './colors' as *;
@use './font' as *;

@forward './body.scss';
@forward 'primevue/card.scss';
@forward 'primevue/menubar.scss';
@forward 'primevue/carousel.scss';

body {
  font-family: 'Nunito';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: 100px 200px;
}

h1 {
  color: $MAIN_TEXT;
  font-size: 48px;
  font-weight: bold;
}

h2 {
  color: $MAIN_TEXT;
  font-size: 36px;
  font-weight: bold;
}

h3 {
  color: $SUBTITLE;
  font-size: 24px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.p-menu-end,
.p-menubar-submenu,
.p-menu-list {
  background-color: #000 !important;
  z-index: 2 !important;
}
